*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
# Android temp and machine-local files
*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
build.xml
# vim temp files
*.swp
*.swo
*.vim
