<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2013 NetVersa LLC
-->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netversa.btcprice"
    android:versionCode="1"
    android:versionName="1.0"
    >
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17"
        />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="BtcPriceApplication"
        android:label="@string/app_name"
        android:icon="@drawable/launcher_icon"
        android:theme="@style/theme"
        >
        <service android:name="FetchService">
            <intent-filter>
                <action android:name="com.netversa.btcprice.ACTION_FETCH_REQUEST"/>
                <data android:scheme="data"/>
            </intent-filter>
        </service>
        <activity
            android:name="MarketDataActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="NotificationConfigActivity"
            android:label="@string/notification_config_title"
            >
        </activity>
    </application>
</manifest>
